<!DOCTYPE html>
<html>
<head>
    <!-- enable proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jquery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>

    <!-- moment -->
    <script type="text/javascript" src="//momentjs.com/downloads/moment.min.js"></script>

    <!-- boostrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- local -->
    <link rel="stylesheet" href="./static/demo.css">
    <script type="text/javascript" src="./static/demo.js"></script>
</head>
<body>

<div class="container-fluid">

<div class="row">
<div class="col-md-12">
    <h1>Echidna</h1>
</div>
</div>

<div class="row">

<!-- publish cards -->
<div class="col-md-6">
<div class="panel panel-primary panel-blue">
    <div class="panel-heading">
        <div class="panel-title">
            <span class="glyphicon glyphicon-comment"></span>
            Publish a card (e.g from Django CMS)
        </div>
    </div>
    <div class="panel-body">
        <form id="publish-form">
            <div class="form-group">
                <p>Publish to:</p>
                {% for i, (channel, label) in enumerate(channels) %}
                <label class="radio-inline">
                    <input name="channel" type="radio" value="{{ channel }}"
                           {{ "checked" if i == 0 else ""}}> {{ label }}
                </label>
                {% end %}
            </div>
            <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control echidna-publish-text">
                <span class="input-group-btn">
                    <button class="btn btn-default echidna-publish-btn"
                            type="button">Publish!</button>
                </span>
            </div>
            </div>
        </form>
    </div>
</div>
</div>
<script type="text/javascript">
$(function () {
    var pub = new echidna.EchidnaPublisher(
        $("#publish-form"), "{{ api_server }}");
});
</script>


<!-- event stream -->
<div class="col-md-6">
<div class="panel panel-primary panel-red">
    <div class="panel-heading">
        <div class="panel-title">
            <span class="glyphicon glyphicon-phone"></span>
            Cards received (e.g. on PhoneGap app)
        </div>
    </div>
    <div class="panel-body">
        <form id="publish-form">
            <div class="form-group">
                <p>Subscribe to:</p>
                {% for i, (channel, label) in enumerate(channels) %}
                <label class="checkbox-inline">
                    <input type="checkbox" value="{{ channel }}"
                           {{ "checked" if i == 0 else ""}}> {{ label }}
                </label>
                {% end %}
            </div>
        </form>
        <ul id="received-list" class="list-group">
            <li class="list-group-item">
                No cards yet.
            </li>
        </ul>
    </div>
</div>
</div>
<script type="text/javascript">
$(function () {
    var recv = new echidna.EchidnaReceiver(
        $("#received-list"));
    var ws = new echidna.EchidnaWebSocket(
        recv, "{{ api_server }}");
});
</script>


</div>
</div>

</body>
</html>
