<!DOCTYPE html>
<html>
<head>
    <!-- enable proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- boostrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- jquery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>

    <!-- local -->
    <script type="text/javascript" src="../static/demo.js"></script>
</head>
<body>

<!-- publish cards -->
<div class="panel panel-primary panel-blue">
    <div class="panel-heading">
        <div class="panel-title">Publish a card</div>
    <div>
    <div class="panel-body">
    </div>
</div>

<!-- event stream -->
<div class="panel panel-primary panel-red">
    <div class="panel-heading">
        <div class="panel-title">Cards received</div>
    </div>
    <div class="panel-body">
    </div>
</div>

</body>
</html>
